

  <p>
    We hope you find exactly what you're looking for in a place to stay.
  </p>

  <ul>
    {{#each model.rentals as |rental|}}
      {{rental-tile rental=rental}}
    {{/each}}
  </ul>
  <hr>
  <h3>Important announcements:</h3>

  {{#each model.announcements as |announcement|}}
    {{announcement-tile announcement=announcement destroyAnnouncement="destroyAnnouncement"}}
  {{/each}}

  <h3>All Reviews</h3>
  <ul>
    {{#each model.reviews as |review|}}
      <li>{{review.rating}} - {{review.content}} - by {{review.author}}</li>
    {{/each}}
  </ul>


  {{new-rental saveRental2="saveRental3"}}

  {{new-announcement saveAnnouncement="saveAnnouncement"}}

  {{#link-to 'about'}}About{{/link-to}}
  <br>
  {{#link-to 'contact'}}Click here to a'contact us.{{/link-to}}
